{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "REST API",
    "description": ""
  },
  "host": "api.crypto-cult.api",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/price": {
      "get": {
        "description": "Depricated, do not use.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/af/piggybank/": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/af/piggybank/{wallet}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/af/garden/": {
      "get": {
        "description": "Returns details of the Garden from theanimal.farm/garden",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/af/garden/{wallet}": {
      "get": {
        "description": "Returns details of the Garden and a Specified wallet from theanimal.farm/garden",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/af/gardenrecords/record": {
      "put": {
        "description": "Adds a new record of Garden Data from theanimal.farm",
        "parameters": [],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/af/gardenrecords/records": {
      "get": {
        "description": "Return all wallet tracked records from theanimal.farm",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/af/gardenrecords/process": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/af/wallet": {
      "put": {
        "description": "Add a wallet to be tracked at theanimal.farm",
        "parameters": [],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/af/price/": {
      "get": {
        "description": "Get the price of Dogs and Pigs from theanimal.farm",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/token/{token}": {
      "get": {
        "description": "Get the price of a given Token on the BSC Network",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/lp/{lp}": {
      "get": {
        "description": "Get the price of a given LP Pool on the BSC Network",
        "parameters": [
          {
            "name": "lp",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}