<!DOCTYPE html>
<html>
<head>
  <title>Crypto Cult API Server</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>

<img src="/images/CryptoCult_Horizontal_Black.png" width="800">
<h1>API</h1>
<p>Read the <a href="/doc">docs</a></p>

</body>
</html>